* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.services {
    width: 100%;
    min-height: 100vh;
    background-color: #000;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
}

.services-title1 {
    width: max-content;
    margin: 0 auto;
    border: 1px solid #e5c300;
    border-radius: 20px;
    background: #ffd9002a;
    color: #bfa200;
    padding: 8px 15px;
    text-align: center;
}

.services-title2 {
    color: #ffe5e5;
    font-weight: 800;
    font-size: 4.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.services-title3 {
    color: #9b9b9b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    width: 35%;
    text-align: center;
}

.services-title-line {
    width: 90px; 
    height: 5px;
    background: #e5c300;
    box-shadow: 
        0 0 6px 2px #e5c300,
        0 0 20px 6px #e5c30055;}      